div#header {
    background-image: url("../assets/bg1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div#formHeaderContainer>div {
    background-color: #fff;
}

div#formHeaderContainer {
    padding: 0 30px 30px 30px;
}

.largeLeftMargin10 {
    margin-left: 10px;
}

::placeholder {
    color: #001941;
    font-family: "Muli", Arial;
}
::selection {
    color: #001941;
    font-family: "Muli", Arial;
}
input::placeholder {
    color: #001941;
    font-family: "Muli", Arial;
}
select::placeholder {
    color: #001941;
    font-family: "Muli", Arial;
}
[type='text'], select, [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea
{
    color: #001941;
    font-family: "Muli", Arial;
}
.orangeButton {
    background-color: #EB6909;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    transform: scale(1);
    transition: ease-in-out 0.4s;
}

.orangeButton:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}

.yesNoButton {
    opacity: 0.3;
    transition: ease-in-out 0.2s;
    background-color: #001941;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 0 30px;
}

.yesNoButton:hover {
    opacity: 0.7;
    transition: ease-in-out 0.2s;
}

.yesNoButton[selected = true] {
    background-color: #001941;
    opacity: 1;
}

.yesNoButton[selected = true]:hover {
    background-color: #001941;
    opacity: 1;
}

.yesNoButton p {
    opacity: 1;
}
.orangeButton p {
    color: #fff;
    font-size: 22px;
    padding: 10px 0;
}

#phone {
    width: 100%;
}

#question1 {
    background-image: url("../assets/bgQ1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#question2 {
    background-image: url("../assets/bgQ2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#question3 {
    background-image: url("../assets/bgQ3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.reveal h4, .reveal h3, .reveal ul, td, table {
    padding-bottom: 10px;
}

.reveal p {
    padding-bottom: 20px;
}

#answer{
    overflow: hidden;
    background-color: #E4EAEE;
    background-repeat: no-repeat;
    background-size: cover;
}

#why {
    overflow: hidden;
    background-color: #E4EAEE;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: unset;
}

#thanks {
    overflow: hidden;
    background-color: #E4EAEE;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: unset;
}

.social {
    background-color: #BFBFBF;
    border-radius: 50%;
    margin: 5px;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    transition-duration: 0.2s;
}

.social:hover {
    background-color: #EB6909;
    transition-duration: 0.2s;
    border-radius: 50%;
    margin: 5px;
    width: 50px;
    height: 50px;
    padding-top: 12px;
}

.social i {
    font-size: 24px;
    margin: 5px;
    color: #fff;
}

.social .ttTxt, .social .fbTxt {
    background: #fdfdfd90;
    line-height: 50px;
    margin: 5px;
    height: 50px;
    vertical-align: center;
}

.socialContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

.socialText {
    position: absolute;
    bottom: 30px !important;
    right: 70px;
    border-radius: 25px;
    z-index: 1;
    margin-right: -66px !important;
    padding: 0 60px 0 20px;
}

.fbTxt {
    bottom: 60px !important;
    right: 70px;
}

.ttTxt {
    bottom: 0px !important;
    right: 70px;
}


@media print, screen and (max-width: 40em) {
    #questionText {
        font-size: 24px;
    }
    #btnDonQuestion {
        width: 150px;
    }
    #whyText {
        font-size: 24px;
    }
    #answerText {
        padding: 30px 0;
        font-size: 24px;
    }
}


#question2 p.title {
    line-height: 120% !important;
    font-size: 38px !important;
}

@media print, screen and (max-width: 1450px) {
    /*
        .smallText {
            font-size: 14px !important;
        }
    */
    #answerArrow>img {
        padding: 10px !important;
    }
    .pourquoi {
        font-size: 36px !important;
        line-height: 50% !important;
    }
    div#formHeaderContainer {
        padding: 30px 30px 30px 30px;
    }
    .text {
        font-size: 17px !important;
    }
    .title {
        font-size: 36px !important;
    }

    .padding30 {
        padding: 20px !important;
    }
    .smallText {
        font-size: 14px !important;
    }
    .bigTitle {
        font-size: 32px !important;
        line-height: 110% !important;
    }
    .semiTitle {
        font-size: 26px !important;
        line-height: 110% !important;
    }
    .smallPaddingTop50 {
        padding-top: 30px !important;
    }

}


@media print, screen and (max-width: 1000px) {
    /*
        .smallText {
            font-size: 14px !important;
        }
    */
    .text {
        font-size: 16px !important;
    }
    .title {
        font-size: 34px !important;
    }

    .padding30 {
        padding: 20px !important;
    }
    .smallText {
        font-size: 12px !important;
    }
    .bigTitle {
        font-size: 34px !important;
        line-height: 115% !important;
    }
    .semiTitle {
        font-size: 24px !important;
    }
    .smallPaddingTop50 {
        padding-top: 40px !important;
    }

}

@media print, screen and (max-width: 40em) {
    p {
        padding-left: 10px !important;
    }
    .smallPaddingTop50 {
        padding-top: 50px !important;
    }
    .largeLeftMargin10 {
        margin-left: 0 !important;
    }
    .hPaddding50 {
        padding: 20px 0 !important;
    }
    .w150 {
        width: 100px !important;
        max-width: 100px !important;
    }
    .bigTitle {
        font-size: 24px !important;
        line-height: 110% !important;
        margin-top: 20px !important;
    }
    .text {
        font-size: 16px !important;
        line-height: 120%;
    }
    .title {
        line-height: 120% !important;
        font-size: 28px !important;
    }
    #question2 p.title {
        line-height: 120% !important;
        font-size: 24px !important;
    }
    .smallText {
        font-size: 14px !important;
    }
    .semiTitle {
        font-size: 20px !important;
        line-height: 110% !important;
    }
    #nextQuestion {
        margin-top: 10px !important;
    }
    #nextQuestion>p {
        font-size: 14px;
    }
}

p {
    padding: 3px;
}


.semiTitle {
    font-family: Muli, Arial;
}

.text {
    font-family: Open Sans, Arial;
}

input {
    font-family: Open Sans, Arial;
}

.smallText {
    font-family: Open Sans, Arial;
}

.title {
    font-family: Muli, Arial;
    font-weight: 900;
}

#question2>div.hPaddding50 {
    padding: 10px 0 !important;
}