div#header {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

div#formHeaderContainer>div {
    background-color: #fff;
}

div#formHeaderContainer {
    padding: 20% 30px 30px 30px;
}

.orangeButton {
    background-color: #EB6909;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    transform: scale(1);
    transition: ease-in-out 0.4s;
}

.orangeButton:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}


.blueButton {
    background-color: #001941;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    transform: scale(1);
    transition: ease-in-out 0.4s;
}

.blueButton:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}

.yesNoButton {
    opacity: 0.3;
    transition: ease-in-out 0.2s;
    background-color: #001941;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 0 30px;
}

.yesNoButton:hover {
    opacity: 0.7;
    transition: ease-in-out 0.2s;
}

.yesNoButton[selected = true] {
    background-color: #001941;
    opacity: 1;
}

.yesNoButton[selected = true]:hover {
    background-color: #001941;
    opacity: 1;
}

.yesNoButton p {
    opacity: 1;
}
.orangeButton p {
    color: #fff;
    font-size: 22px;
    padding: 10px 0;
}

#phone {
    width: 100%;
}

#question1 {
    background-image: url("../assets/bgQ1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#question2 {
    background-image: url("../assets/bgQ2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#question3 {
    background-image: url("../assets/bgQ3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.reveal h4, .reveal h3, .reveal ul, td, table {
    padding-bottom: 10px;
}

.reveal p {
    padding-bottom: 20px;
}

.number {
    background-color: #fff;
    border: #D7D7D7 3px solid;
    padding: 10px 20px;
    margin: 5px;
    transition: ease-in-out 0.2s;
}

.text {
    margin: 5px;
}

.number[selected="true"] {
    background-color: #EB6909;
    transition: ease-in-out 0.2s;
    border-color: transparent;
    color: #fff;
}

.number:hover {
    background-color: #EB6909;
    opacity: 0.7;
    border-color: transparent;
    color: #fff;
    transition: ease-in-out 0.2s;
}

.number[selected="true"]:hover {
    background-color: #EB6909;
    border-color: transparent;
    opacity: 1;
    color: #fff;
    transition: ease-in-out 0.2s;
}

.number[selected="true"]>p {
    color: #fff;
}

.number:hover>p {
    color: #fff;
}

.number[selected="true"]:hover>p {
    color: #fff;
}

select, input {
    min-height: 50px;
}

#form>div.cell {
    padding: 5px;
}

#form ::-webkit-input-placeholder { /* Edge */
    font-family: "Muli", Arial;
    color: #001941;
}

#form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: "Muli", Arial;
    color: #001941;
}

#form ::placeholder {
    font-family: "Muli", Arial;
    color: #001941;
}

@media print, screen and (max-width: 1400px) {
    .number>p {
        line-height: 50px;
    }

    .number {
        padding: 5px 10px !important;
        margin: 5px !important;
    }

    #form ::-webkit-input-placeholder { /* Edge */
        font-size: 16px;
    }

    #form :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 16px;
    }

    #form ::placeholder {
        font-size: 16px;
    }
}